# Python virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# PyInstaller
*.manifest
*.spec

# Editor backups
*.swp
*~
.DS_Store
Thumbs.db
*.tmp

# VSCode
.vscode/

# JetBrains
.idea/

# Playwright browsers cache
C:\Users\*/AppData/Local/ms-playwright/
